.ahoj {
  /* background-color: red; */
}

/*
=============== 
Variables
===============
*/
:root {
  --clr-nav-hoover: hsl(205, 78%, 60%);
  --transition: all 0.3s linear;
}

/* ======================= */

.test {
  display: flex;
  justify-content: space-between;
  background-color: green;
  flex-grow: 1;
  text-align: center;
}

.cc {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* ============================= */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
  display: block;
} */

/* =======NAVBAR================== */

.nav-center {
  display: flex;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5); */
  /* padding: 1rem; */
}

.nav-center a {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
}

.nav-toggle {
  font-size: 2em;
  color: inherit;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 400;
}
.nav-toggle:hover {
  color: var(--clr-nav-hoover);
  transform: rotate(90deg);
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  color: inherit;
  transition: var(--transition);
  /* font-weight: 400; */
  letter-spacing: 2px;
  /* font-size: 1.2rem; */
  padding: 0.25rem 0.5rem;
  /* transition: var(--mainTransition); */
}
.nav-links a:hover {
  color: var(--clr-nav-hoover);
}

.nav-links {
  display: none;
  height: 0px;
  overflow: hidden;
}

.show-container {
  height: 200px;
}

@media screen and (min-width: 800px) {
  /* viac ako 800px */
  .nav-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    height: auto;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-left: -8vw;
  }
}
