.ahoj {
  /* background-color: red; */
}

/*
=============== 
Variables
===============
*/
:root {
  --clr-nav-hoover: hsl(205, 78%, 60%);
  --transition: all 0.3s linear;
}

/* ======================= */

@media (min-width: 700px) {
  .test {
    padding: 20px 20px 20px 20px;
    background-color: #000000;
  }
}
.test {
  background-color: green;
  /* display: flex;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center; */
}

.cc {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* ============================= */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
  display: block;
} */

/* =======NAVBAR================== */

.nav-center {
  display: flex;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5); */
  /* padding: 1rem; */
}

.nav-center a {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
}

.nav-toggle {
  font-size: 2em;
  color: inherit;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 400;
}
.nav-toggle:hover {
  color: var(--clr-nav-hoover);
  transform: rotate(90deg);
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  color: inherit;
  transition: var(--transition);
  /* font-weight: 400; */
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  /* transition: var(--mainTransition); */
}
.nav-links a:hover {
  color: var(--clr-nav-hoover);
}

.nav-links {
  display: none;
  height: 0px;
  overflow: hidden;
}

.show-container {
  /* height: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: var(--transition);
  overflow: hidden;
}
.show-container svg {
  margin-right: 5px;
}

.show-container a {
  display: flex;
  align-items: center;
  max-width: 30%;
}
.show-container a:hover {
  border: solid 1px white;
  margin: 2px 0 2px 0;
  max-width: 30%;
}
.show-container span {
  display: flex;
}
@media screen and (min-width: 800px) {
  /* viac ako 800px */
  .nav-toggle {
    display: none;
  }

  .show-container {
    height: 0px !important;
    display: none !important;
    /* overflow: hidden; */
  }

  .nav-links {
    display: flex;
    height: auto;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-left: -8vw;
  }
}

/*======LOADER=======  */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  /* color: #476a2e; */
  color: #49a6e9;
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* ===ABOUT==== */
.about-section {
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

/* ===LOGIN===== */

.section2 {
  /* height: 90vh; */
}

.login {
  width: 350px;
  /* background-color: red; */
}
.login a {
  font-weight: bold;
  color: inherit;
  transition: var(--transition);
  padding: 0.25rem 0.25rem;
}

.login a:hover {
  color: var(--clr-nav-hoover);
}

/* =====ADD CAR Form========== */
.addCar {
  width: 450px;
}
/* --sideBar button */
.sidebar-btn,
.sidebar-btn:hover {
  color: var(--clr-nav-hoover);
  transition: var(--transition);
}

/* ===DISPLAY==== */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.column-center button {
  margin-top: 2px;
}

.width-100 {
  width: 100%;
}
